
bin/
build/
doc/html
lang/*.qm

/gcodeworkshop_top.pro.user*
*.autosave

/Makefile
/src/Makefile*

/3rdparty/lib/*release
/3rdparty/lib/*debug
/3rdparty/Makefile
/3rdparty/*/Makefile

*object_script.*
*.stash
