[Desktop Entry]
Comment[pl]=EdytorNC jest tekstowym edytorem dla programistów obrabiarek numerycznych CNC.
Comment=The EdytorNC is text editor for CNC programmers.
Exec=edytornc
GenericName[pl]=
GenericName=
Icon=~/EdytorNC/edytornc48.png
MimeType=
Name[pl]=EdytorNC\s
Name=EdytorNC\s
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SuSE-translate=true
