#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Development;
Comment[pl]=G-code QT text editor
Comment=G-code QT text editor
Exec=/home/artur/Dokumenty/Projekty/edytornc-build-Desktop-Release/bin/x86_64/edytornc
GenericName[pl]=
GenericName=
Icon=/home/artur/Dokumenty/Projekty/edytornc/src/images/edytornc48.png
MimeType=
Name[pl]=EdytorNC
Name=EdytorNC
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
