[Desktop Entry]
Type=Application
Categories=Development;
Version=1.0

Name=GCodeWorkShop
GenericName=G-code text editor
Comment=The GCodeWorkShop is text editor for CNC programmers.
Comment[pl]=GCodeWorkShop jest tekstowym edytorem dla programistów obrabiarek numerycznych CNC.

Exec=gcodeworkshop %F
Icon=edytornc
MimeType=application/x-g-code;

StartupNotify=true
Terminal=false
X-KDE-SubstituteUID=false
